.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.actions{
  height: 35rem;
  display: flex;
  width: 35rem;
  flex-direction: column;
  justify-content: space-around;
  padding: 5rem;
  background-color: white;
  margin-top: 3rem;
}

.button{
  background-color: #F57D30;
  color: white;
  border-radius: 1rem;
  height: 8rem;
  font-family: sans-serif;
  font-style: italic;
  font-size: 1.5rem;
}

.button:hover{
  background-color: #002B76;
}