.div {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.image {
  height: 6rem;
  width: 18rem;
}

.h1{
  font-family: sans-serif;
  font-style: italic;
  font-size: 3rem;
  color: #002B76;
}